<h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
<p><b>Email:</b> <%= @contact.email %></p>
<p><b>Note:</b>&nbsp; &nbsp;<%= @contact.note %></p>

<p><a href="/contacts/<%= @contact.id%>/edit">Edit Contact</a>

<form action="/contacts/<%= @contact.id %>" method="post">

  <input type="hidden" name="_method" value="delete">
  Delete Contact: <input type="submit" name="Delete Contact" >
 
</form>
